* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #09090A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

header{
    display:flex;
    width: 720px;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: transparent;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid  #8B5CF6;
    color:#FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    gap: 12px;
    align-items: center;
    transition: border-color 300ms;
}

header button:hover {
    border-color: white;
}

.container_habits {

}

.line {
    display: flex;
    align-items: center;
    gap: 12px;
}

.line p {
    color: #A1A1AA; 
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habits {
    display: flex;
    gap: 8px;
}

.habit {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border: 2px solid #6D28D9;
    background: #4C1D95;
}